[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
z3-solver = "*"

[dev-packages]
pylint = "*"
pytest = "*"
rope = "*"
ipython = "*"
autopep8 = "*"

[requires]
python_version = "3.7"
